## 1. Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

## 2. Importing Dataframe

In [3]:
path = r'C:\Users\sdaon\Documents\Global Air Pollution Dataset'

In [4]:
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'global air pollution dataset.csv'), index_col = False)

## 3. Data Wrangling

### 3.1. Checking Dataframe

In [5]:
df.head(10)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good
5,United States of America,Punta Gorda,54,Moderate,1,Good,14,Good,11,Good,54,Moderate
6,Germany,Puttlingen,62,Moderate,1,Good,35,Good,3,Good,62,Moderate
7,Belgium,Puurs,64,Moderate,1,Good,29,Good,7,Good,64,Moderate
8,Russian Federation,Pyatigorsk,54,Moderate,1,Good,41,Good,1,Good,54,Moderate
9,Egypt,Qalyub,142,Unhealthy for Sensitive Groups,3,Good,89,Moderate,9,Good,142,Unhealthy for Sensitive Groups

In [6]:
df.tail(10)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
23453,United Kingdom of Great Britain and Northern I...,Urmston,33,Good,1,Good,30,Good,3,Good,33,Good
23454,India,Konnur,86,Moderate,0,Good,23,Good,0,Good,86,Moderate
23455,China,Shaoguan,160,Unhealthy,3,Good,160,Unhealthy,1,Good,79,Moderate
23456,United States of America,Highland Springs,54,Moderate,1,Good,34,Good,5,Good,54,Moderate
23457,Slovakia,Martin,71,Moderate,1,Good,39,Good,1,Good,71,Moderate
23458,India,Gursahaiganj,184,Unhealthy,3,Good,154,Unhealthy,2,Good,184,Unhealthy
23459,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good
23460,India,Mormugao,50,Good,1,Good,22,Good,1,Good,50,Good
23461,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate
23462,Malaysia,Marang,70,Moderate,1,Good,38,Good,0,Good,70,Moderate

In [7]:
df.shape

(23463, 12)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             23036 non-null  object
 1   City                23462 non-null  object
 2   AQI Value           23463 non-null  int64
 3   AQI Category        23463 non-null  object
 4   CO AQI Value        23463 non-null  int64
 5   CO AQI Category     23463 non-null  object
 6   Ozone AQI Value     23463 non-null  int64
 7   Ozone AQI Category  23463 non-null  object
 8   NO2 AQI Value       23463 non-null  int64
 9   NO2 AQI Category    23463 non-null  object
 10  PM2.5 AQI Value     23463 non-null  int64
 11  PM2.5 AQI Category  23463 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.1+ MB

In [9]:
df.columns

Index(['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value',
       'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category',
       'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value',
       'PM2.5 AQI Category'],
      dtype='object')

In [10]:
df.describe()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value
count,23463.000000,23463.000000,23463.000000,23463.000000,23463.000000
mean,72.010868,1.368367,35.193709,3.063334,68.519755
std,56.055220,1.832064,28.098723,5.254108,54.796443
min,6.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,1.000000,21.000000,0.000000,35.000000
50%,55.000000,1.000000,31.000000,1.000000,54.000000
75%,79.000000,1.000000,40.000000,4.000000,79.000000
max,500.000000,133.000000,235.000000,91.000000,500.000000

### 3.2. Checking datatypes

In [11]:
df.dtypes

Country               object
City                  object
AQI Value              int64
AQI Category          object
CO AQI Value           int64
CO AQI Category       object
Ozone AQI Value        int64
Ozone AQI Category    object
NO2 AQI Value          int64
NO2 AQI Category      object
PM2.5 AQI Value        int64
PM2.5 AQI Category    object
dtype: object

### 3.3. Checking for Missing Values

In [12]:
df.isnull().sum()

Country               427
City                    1
AQI Value               0
AQI Category            0
CO AQI Value            0
CO AQI Category         0
Ozone AQI Value         0
Ozone AQI Category      0
NO2 AQI Value           0
NO2 AQI Category        0
PM2.5 AQI Value         0
PM2.5 AQI Category      0
dtype: int64

In [43]:
df_null= df.loc[df['Country'] == "null"]

In [44]:
df_null.head()

Empty DataFrame
Columns: [Country, City, AQI Value, AQI Category, CO AQI Value, CO AQI Category, Ozone AQI Value, Ozone AQI Category, NO2 AQI Value, NO2 AQI Category, PM2.5 AQI Value, PM2.5 AQI Category]
Index: []

In [14]:
df = df.dropna()

In [15]:
df.isnull().sum()

Country               0
City                  0
AQI Value             0
AQI Category          0
CO AQI Value          0
CO AQI Category       0
Ozone AQI Value       0
Ozone AQI Category    0
NO2 AQI Value         0
NO2 AQI Category      0
PM2.5 AQI Value       0
PM2.5 AQI Category    0
dtype: int64

In [16]:
df.shape

(23035, 12)

### 3.4. Outliers

In [17]:
# Calculating quartiles
q1 = df['AQI Value'].quantile(0.25)
q2 = df['AQI Value'].quantile(0.50)
q3 = df['AQI Value'].quantile(0.75)

In [18]:
std_dev = df['AQI Value'].std()
mean = df['AQI Value'].mean()
lower_bound = mean - (2 * std_dev)
upper_bound = mean + (2 * std_dev)

In [19]:
#Defining outliers 
outliers_1 = df[(df['AQI Value'] < lower_bound) | (df['AQI Value'] > upper_bound)]

In [20]:
outliers_1

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
43,India,Darbhanga,247,Very Unhealthy,3,Good,162,Unhealthy,1,Good,247,Very Unhealthy
75,India,Gyanpur,189,Unhealthy,2,Good,99,Moderate,1,Good,189,Unhealthy
77,China,Hangzhou,203,Very Unhealthy,5,Good,203,Very Unhealthy,5,Good,151,Unhealthy
180,India,Govindgarh,307,Hazardous,1,Good,45,Good,0,Good,307,Hazardous
220,China,Yuncheng,187,Unhealthy,2,Good,36,Good,8,Good,187,Unhealthy
...,...,...,...,...,...,...,...,...,...,...,...,...
23181,India,Tharad,188,Unhealthy,1,Good,27,Good,1,Good,188,Unhealthy
23201,Mexico,Tlalancaleca,355,Hazardous,4,Good,4,Good,17,Good,355,Hazardous
23293,India,Ramjibanpur,189,Unhealthy,1,Good,85,Moderate,1,Good,189,Unhealthy
23320,India,Keshorai Patan,187,Unhealthy,2,Good,57,Moderate,2,Good,187,Unhealthy
23372,Pakistan,Mian Channun,252,Very Unhealthy,2,Good,135,Unhealthy for Sensitive Groups,1,Good,252,Very Unhealthy

In [21]:
# Calculating quartiles
q1 = df['PM2.5 AQI Value'].quantile(0.25)
q2 = df['PM2.5 AQI Value'].quantile(0.50)
q3 = df['PM2.5 AQI Value'].quantile(0.75)
std_dev = df['PM2.5 AQI Value'].std()
mean = df['PM2.5 AQI Value'].mean()
lower_bound = mean - (2 * std_dev)
upper_bound = mean + (2 * std_dev)

In [22]:
#Defining outliers 
outliers_2 = df[(df['PM2.5 AQI Value'] < lower_bound) | (df['PM2.5 AQI Value'] > upper_bound)]

In [23]:
outliers_2

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
43,India,Darbhanga,247,Very Unhealthy,3,Good,162,Unhealthy,1,Good,247,Very Unhealthy
75,India,Gyanpur,189,Unhealthy,2,Good,99,Moderate,1,Good,189,Unhealthy
180,India,Govindgarh,307,Hazardous,1,Good,45,Good,0,Good,307,Hazardous
220,China,Yuncheng,187,Unhealthy,2,Good,36,Good,8,Good,187,Unhealthy
236,Mexico,Acuautla,189,Unhealthy,2,Good,9,Good,15,Good,189,Unhealthy
...,...,...,...,...,...,...,...,...,...,...,...,...
23320,India,Keshorai Patan,187,Unhealthy,2,Good,57,Moderate,2,Good,187,Unhealthy
23372,Pakistan,Mian Channun,252,Very Unhealthy,2,Good,135,Unhealthy for Sensitive Groups,1,Good,252,Very Unhealthy
23401,India,Tamluk,185,Unhealthy,2,Good,85,Moderate,2,Good,185,Unhealthy
23429,Mexico,Tlaltelulco,181,Unhealthy,3,Good,2,Good,11,Good,181,Unhealthy
23458,India,Gursahaiganj,184,Unhealthy,3,Good,154,Unhealthy,2,Good,184,Unhealthy

In [24]:
# Calculating quartiles
q1 = df['CO AQI Value'].quantile(0.25)
q2 = df['CO AQI Value'].quantile(0.50)
q3 = df['CO AQI Value'].quantile(0.75)
std_dev = df['CO AQI Value'].std()
mean = df['CO AQI Value'].mean()
lower_bound = mean - (2 * std_dev)
upper_bound = mean + (2 * std_dev)

In [25]:
#Defining outliers 
outliers_3 = df[(df['CO AQI Value'] < lower_bound) | (df['CO AQI Value'] > upper_bound)]

In [26]:
outliers_3

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
240,Nigeria,Agbor,139,Unhealthy for Sensitive Groups,7,Good,13,Good,5,Good,139,Unhealthy for Sensitive Groups
277,South Africa,Balfour,380,Hazardous,31,Good,1,Good,26,Good,380,Hazardous
278,South Africa,Ballitoville,222,Very Unhealthy,12,Good,5,Good,14,Good,222,Very Unhealthy
452,Chile,Quillota,182,Unhealthy,14,Good,1,Good,23,Good,182,Unhealthy
545,Brazil,Francisco Morato,169,Unhealthy,7,Good,0,Good,21,Good,169,Unhealthy
...,...,...,...,...,...,...,...,...,...,...,...,...
22918,India,Ambarnath,181,Unhealthy,7,Good,8,Good,17,Good,181,Unhealthy
23023,South Africa,Scottsburgh,185,Unhealthy,12,Good,10,Good,15,Good,185,Unhealthy
23089,China,Xixiang,181,Unhealthy,9,Good,5,Good,44,Good,181,Unhealthy
23322,Malaysia,Rawang,163,Unhealthy,6,Good,8,Good,25,Good,163,Unhealthy
23373,South Africa,Wesselsbron,128,Unhealthy for Sensitive Groups,6,Good,11,Good,5,Good,128,Unhealthy for Sensitive Groups

## 4. Consistency Checks

### 4.1 Checking for mixed-type data columns

In [27]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col, ' mixed')
  else: 
    print(col, ' consistent')

Country  consistent
City  consistent
AQI Value  consistent
AQI Category  consistent
CO AQI Value  consistent
CO AQI Category  consistent
Ozone AQI Value  consistent
Ozone AQI Category  consistent
NO2 AQI Value  consistent
NO2 AQI Category  consistent
PM2.5 AQI Value  consistent
PM2.5 AQI Category  consistent

### 4.2 Checking for Duplicates

In [28]:
df_dups = df[df.duplicated()]

In [29]:
df_dups.shape

(0, 12)

## 5. Descriptive Statistics

In [30]:
df.describe()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value
count,23035.000000,23035.000000,23035.000000,23035.000000,23035.000000
mean,72.344693,1.376254,35.233905,3.084741,68.883482
std,56.360992,1.844926,28.236613,5.281708,55.057396
min,6.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,1.000000,21.000000,0.000000,35.000000
50%,55.000000,1.000000,31.000000,1.000000,54.000000
75%,80.000000,1.000000,40.000000,4.000000,79.000000
max,500.000000,133.000000,235.000000,91.000000,500.000000

## 6. Exporting Dataframes

In [31]:
df.to_csv(os.path.join(path, 'Data','Prepared Data', 'global air pollution dataset_cleaned.csv'))